<%- include("templates/encabezado.ejs", {titulo: "Inicio"}) %>

<%
    var a = 4
    var b = 1
    var c = a+b
    var texto = "Texto pro"
%>

<%= c %>

<a href="/info/<%= c %>">enviar datos</a>
<ul>
    <% artistas.forEach(function(artista) { %>
        <li><%= artista %></li>
    <% }) %>
</ul>

<p>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam voluptas facere voluptate, quia qui 
alias vel tempore sunt itaque, sint nesciunt! Similique magni laborum tempora! Quia dolorem voluptatum
</p>
<br>

</div>

<%- include("templates/pie.ejs") %>